.batch {
	display: grid;
	gap: 0.375rem;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.batch__crud {
	grid-column: 1 / 2;
	display: flex;
}

.batch__data__crud {
	grid-row: 2 / 3;
	grid-column: span 1;
	display: flex;
	flex-direction: column;
}

.batch__data__scratchpad {
	grid-column: span 1;
	grid-row: span 1;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: center;
	justify-content: center;
}

.batch__data__scratchpad__button {
	display: flex;
}

.batch__search__input__group {
	display: flex;
	flex-direction: column;
}

.batch__crud__input__group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.batch__crud__button__group, .batch__data__button__group {
	display: flex;
	flex-direction: row;
}

.batch__crud__button, .batch__data__button {
	margin: 0.75rem;
	width: 100%;
}

.batch__crud__form {
	width: 100%;
}

section.results#search_results {
	display: grid;
	width: 100%;
}
