@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300..700&family=Koulen&display=swap');

:root {
  --ink-primary: #0D0D0D;
  --ink-secondary: #2C2C2C;
  --ink-grey: #6A6A6A;
  --ink-bg: #f0f0f0;
  --ink-old: #F9F8F6;
}

/* Utility classes */
html, body {
  height: 100%;
  width: 100%;
  background-color: var(--ink-bg);
  color: var(--ink-primary);
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.btn {
  font-family: Comfortaa, sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  background-color: var(--ink-secondary);
  color: var(--ink-old);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

a:link, a:visited {
  color: var(--ink-bg);
  text-decoration: none;
}

.form__member {
  padding: 0.4rem;
  margin: 0.4rem;
  font-family: Comfortaa, sans-serif;
  background-color: var(--ink-bg);
  outline: none;
  border-style: none;
  border: 2px solid var(--ink-secondary);
  border-radius: 2px;
}

.form__member:focus {
  transform: translate(-4px, -4px);
  transition-duration: 400ms;
  transition: ease-in-out;
  box-shadow: 8px 8px var(--ink-secondary);
}

/* Component classes */
.main {
  display: flex;
  justify-content: space-evenly;
}

.top {
  display: flex;
  flex-direction: row;
}

.top__logo {
  font-family: Koulen, system-ui;
  font-size: 1.25rem;
  color: var(--ink-primary);
}

.top__nav {
  display: block;
  margin-left: auto;
}

.top__collection {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1.2rem;
}

.search__group {
  display: flex;
  flex-direction: column;
  border: unset;
}

.search__group__legend {
  font-family: Koulen, system-ui;
  font-weight: 300;
}

.results {
  display: flex;
  flex-wrap: wrap;

  /* grid-auto-flow: column; */
  align-items: center;
}

.result__info {
  text-align: center;
  font-family: Koulen, monospace;
}

.result__element__container {
  /* grid-row: span 1; */
  flex-grow: 1;
  display: grid;
  font-family: Koulen, monospace;
  font-size: small;
  background-color: var(--ink-secondary);
  color: var(--ink-old);
  padding: 0.8rem;
  margin: 0.6rem;
  border-radius: 0.4rem;
}

.student__element__container {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: rows;
}

.teacher__element__container {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: rows;
}

.subject__element__container {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: rows;
  gap: 0.3rem;
}

.attendance {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.attendance__form, .batch__attendance__form{
  display: flex;
  min-width: 100%;
  flex-direction: column;
}

.attendance__submit__group {
  display: flex;
  flex-grow: 1;
  min-width: 100%;
}

.attendance__submit__btn {
  border: unset;
  font-family: Koulen, system-ui;
  font-size: 14px;
  font-weight: 500;
  padding: 0.6rem 1rem;
  background-color: var(--ink-secondary);
  color: var(--ink-bg);
  flex-grow: 1;
}

