@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300..700&family=Koulen&display=swap');

:root {
  --ink-primary: #0D0D0D;
  --ink-secondary: #2C2C2C;
  --ink-grey: #5E5E5E;
  --ink-bg: #f0f0f0;
  --ink-old: #F9F8F6;
}

/* Utility classes */
html, body {
  height: 100%;
  width: 100%;
  background-color: var(--ink-bg);
  color: var(--ink-primary);
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.btn {
  font-family: Comfortaa, sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  background-color: var(--ink-secondary);
  color: var(--ink-old);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

a:link, a:visited {
  color: var(--ink-bg);
  text-decoration: none;
}

.form__member {
  padding: 0.4rem;
  margin: 0.4rem;
  font-family: Comfortaa, sans-serif;
  background-color: var(--ink-bg);
  outline: none;
  border-style: none;
  border: 2px solid var(--ink-secondary);
  border-radius: 2px;
}

.form__member:focus {
  transform: translate(-4px, -4px);
  transition-duration: 400ms;
  transition: ease-in-out;
  box-shadow: 8px 8px var(--ink-secondary);
}

/* Component classes */
.error__header {
  font-family: Koulen, monospace;
  font-size: 8rem;
  font-weight: 100;
  gap: 2rem;
}

.error__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2rem;
}

.error__content {
  font-family: Comfortaa, sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.error__btn__group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.error__btn__confirmation {
  font-family: "Koulen", monospace;
  margin: 2rem;
}

.attendance__main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: row;
}

.top__logo {
  font-family: Koulen, system-ui;
  font-size: 1.25rem;
  color: var(--ink-primary);
}

.top__nav {
  display: block;
  margin-left: auto;
}

.top__collection {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1.2rem;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.search__tab__header {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.search__tab__heading {
  font-family: Koulen, system-ui;
  font-size: small;
  text-transform: uppercase;
  background-color: var(--ink-secondary);
  color: var(--ink-old);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
}

.search__group {
  display: flex;
  flex-direction: column;
  border: unset;
}

.search__group__legend {
  font-family: Koulen, system-ui;
  font-weight: 300;
}

.results {
  display: flex;
  flex-wrap: wrap;

  /* grid-auto-flow: column; */

  /* max-width: 40%; */
  align-items: center;
}

.result__info {
  text-align: center;
  font-family: Koulen, monospace;
}

.result__element__container {
  /* grid-row: span 1; */
  flex-grow: 1;
  display: grid;
  grid-auto-flow: row;
  font-family: Koulen, monospace;
  font-size: small;
  background-color: var(--ink-secondary);
  color: var(--ink-old);
  padding: 0.8rem;
  margin: 0.6rem;
  border-radius: 0.4rem;
  gap: 0.3rem;
}

.student__element__container {
  grid-template-columns: repeat(2, 1fr);
}

.teacher__element__container {
  grid-template-columns: repeat(2, 1fr);
}

.subject__element__container {
  grid-template-columns: repeat(3, 1fr);
}

.batch__element__container {
  grid-template-columns: repeat(3, 1fr);
}

.attendance {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.attendance__form, .batch__attendance__form{
  display: flex;
  min-width: 100%;
  flex-direction: column;
}

.attendance__submit__group {
  display: flex;
  flex-grow: 1;
  min-width: 100%;
}

.attendance__submit__btn, .batch__crud__btn {
  border: unset;
  font-family: Koulen, system-ui;
  font-size: 14px;
  font-weight: 500;
  padding: 0.6rem 1rem;
  background-color: var(--ink-secondary);
  color: var(--ink-bg);
  flex-grow: 1;
}

.batch__main {
  flex-direction: row;
  justify-content:space-around;
  height: max-content;
}

.batch__crud {
  display: flex;
  justify-content: space-around;
}

.batch__crud__form {
  display: flex;
  flex-direction:column;
  padding: 0.8rem;
  margin: 0.6rem;
}

.batch__crud__helper__group {
  display: flex;
  justify-content: flex-end;
}

.batch__crud__remove__duplicate {
  background-color: var(--ink-grey);
  color: var(--ink-old);
  border: unset;
}

#batch__drop__zone {
  display:inline-block;
  width: minmax(300px, 100%);
  height: max-content;
  text-align:center;
  border-radius: 4px;
  padding: 0.8rem;
  font-family: Koulen, system-ui;
  color: var(--ink-old);
  background-color: var(--ink-secondary);
  justify-content:center;
}

.batch__drop__zone__container {
  display:flex;
  flex-direction: column;
}

.batch__drop__zone__element {
  display: flex;
  flex-direction: row;
  justify-content:space-around;

}

.batch__data__crud {
  width: max-content;
}

.batch__data__crud__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.batch__data__crud__submit__group {
  display: flex;
  flex-direction: row;
}

.batch__data__submit__btn {
  background-color: var(--ink-secondary);
  color: var(--ink-old);
  font-family: Koulen, system-ui;
  flex-grow: 1;
}
