@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300..700&family=Koulen&display=swap');

/* Utility classes */
html, body {
  height: 100%;
  width: 100%;
  background-color: #090E13;
  color: #C5C9C7;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.btn, a:link, a:visited {
  font-family: Comfortaa, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: -0.001rem;
  background-color: #A4A7A4;
  color: #24262D;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}

.form__member {
  padding: 0.4rem;
  margin: 0.4rem;
}

/* Component classes */
.main {
  display: flex;
  justify-content: space-evenly;
}

.top {
  justify-content: flex-end;
}

.top__collection {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1.2rem;
}

.search, .attendance {
  width: 100%;
}

.search__group {
  display: flex;
  flex-direction: column;
  border: unset;
}

.attendance__form {
  display: flex;
  min-width: 100%;
  flex-direction: column;
}

.attendance {
  width: 100%;
}

.attendance__submit__btn {
  border: unset;
  font-family: "Koulen", system-ui;
  font-weight: 500;
  padding: 0.6rem 1rem;
  background-color: #7AA89F;
}
