.batch__container {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.batch__crud {
	display: flex;
	justify-self: center;
	width: 40%;
	justify-content: center;
	align-items: center;
}

.batch__crud__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.batch__crud__input__group {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.batch__crud__input__element {
	display: inline-block;
}

.batch__crud__button__group {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.batch__crud__button {
	margin: 0.3rem;
}

.batch__search {
	display: flex;
	flex-direction: column;
}
