.navbar {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	border-radius: 0.25rem;
	background-color: #76A5AF;
	color: #141414;
}

.navbar__middle {
	font-family: "Koulen", monospace;
	font-size: 1.75rem;
	font-weight: 800;
}

.navbar__right {
	font-family: "Comfortaa", monospace;
	list-style: none;
	padding-left: unset;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar__link, .navbar__link:visited{
	font-size: 0.8rem;
	text-decoration: none;
}
