section.results {
	display: grid;
	width: 40%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

.result__element {
	display: grid;
	font-family: 'Koulen';
	text-align: center;
	background-color: #DAAC88;
	color: #464646;
	border-radius: 1rem;
	margin: 0.25rem;
}

.student__element {
	/* display: grid; */
	/* width: 100%; */
	grid-column: span 3;
	grid-row: span 1;
}

.student__element__rollno {
	display: inline-block;
	text-align: center;
	grid-column: 1 / 2;
	grid-row: span 1;
}

.student__element__name {
	display: inline-block;
	grid-column: 3 / 4;
	grid-row: span 1;
}

.teacher__element {
	grid-column: span 3;
	grid-row: span 1;
}

.teacher__element__id {
	display: inline-block;
	grid-column: 1 / 2;
	grid-row: span 1;
}

.teacher__element__name {
	display: inline-block;
	grid-column: 3 / 4;
	grid-row: span 1;
}

.subject__element {
	grid-column: span 3;
	grid-row: span 1;
}

.subject__element__id {
	display: inline-block;
	grid-column: 1 / 2;
	grid-row: span 1;
}

.subject__element__code {
	display: inline-block;
	grid-column: 2 / 3;
	grid-row: span 1;
}

.subject__element__name {
	display: inline-block;
	grid-column: 3 / 4;
	grid-row: span 1;
}

.batch__element {
	grid-column: span 1;
	grid-row: span 3;
}

.batch__element__batchid {
	display: inline-block;
	grid-column: span 1;
	grid-row: span 1;
}

.batch__element__name {
	display: inline-block;
	grid-column: span 1;
	grid-row: span 1;
}

.batch__element__teacherid {
	display: inline-block;
	grid-row: span 1;
	grid-column: span 1;
}
