section.search {
	display: inline-block;
	width: 25%;
	padding: 0.75rem;
}

.search__form {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.search__element {
	font-family: 'Gudea', monospace;
	flex-grow: 1;
	font-family: "Gudea", sans-serif;
	padding: 0.25rem;
	margin: 0.5rem;
	font-weight: 200;
}
